.barchart.axis, .linechart.axis {
    font-size: 1em;
}

.bar {
    fill: var(--inactive-color);
    cursor: pointer;
}
 

.bar:hover {
    fill: var(--theme-color);
} 

.line {
    stroke: var(--active-color);
    stroke-width: 5px;
    fill: none;
}

.line:hover {
    stroke: var(--theme-color);
}

.linepoint {
    fill: var(--theme-color);
}