[class*="gauge-color"] {
    fill: var(--inactive-color);
}

[class*="gauge-color"].active {
    fill: var(--theme-color);
}

.gauge.ticks {
    font-family: sans-serif;
    font-size: .8em;
    text-anchor: middle;    
}

.gauge.needle {
    fill: black;
}

.gauge.label {
    cursor: default;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    color: var(--active-color);
}

.bi-calendar3-event,
.bi-calendar3-range {
    font-size: 1.2rem;
    color: var(--active-color);
    background-color: Transparent;
}

