[class*="gauge-color"] {
    fill: var(--inactive-color);
}

[class*="gauge-color"].active {
    fill: var(--active-color);
}

.gauge.ticks {
    font-family: sans-serif;
    font-size: .8em;
    text-anchor: middle;    
}

.gauge.needle {
    fill: black;
}