  @import 'framework.css';
  @import 'timecontrol.css';
  @import 'gauge.css';
  @import 'chart.css';
  @import 'usmap.css';

  :root {
    --active-color: #919191;
    --inactive-color: #ccc;
    --highlight-color: #ececec;
    --theme-color: orange;
  }
  
  .navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);;
  } 