  .navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
  }

  .background {
    fill: none;
    pointer-events: all;
  }

  .feature {
    fill: #ccc;
    cursor: pointer;
  }
  
  .feature.active {
    fill: orange;
  }
  
  .mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

 