  @import 'infocard.css';
  @import 'slider.css';
  @import 'gauge.css';
  @import 'barchart.css';
  @import 'usmap.css';
  
  .navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);;
  }

  .feature {
    fill: #ccc;
    cursor: pointer;
  }

  .feature:hover {
    fill: orange;
  }  
  
  .feature.active {
    fill: #e2e2e2;
  }