  @import 'infocard.css';
  @import 'slider.css';
  @import 'gauge.css';
  @import 'chart.css';
  @import 'usmap.css';

  :root {
    --inactive-color: #ccc;
    --highlight-color: #e2e2e2;
    --active-color: orange;
  }
  
  .navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);;
  }