.map-background {
  fill: none;
  pointer-events: all;
}

#states {
  cursor: pointer;
  fill: var(--inactive-color);
}

#states .active {
  display:none;
}

#state-borders {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-boundary {
  cursor: pointer;
  fill: var(--highlight-color);
  stroke: white;
  stroke-width: .4px;
}

.county-boundary:hover, .state:hover {
  fill: var(--highlight-color);
}

.hotspot {
  fill: var(--theme-color);
  fill-opacity: .7;
  stroke: var(--theme-color);
  stroke-width: .5px;
}